/crud-php-simple-master/.phpdoc/cache
/crud-php-simple-master/.phpdoc/build/classes/
/crud-php-simple-master/.phpdoc/build/css/
/crud-php-simple-master/.phpdoc/build/files/
/crud-php-simple-master/.phpdoc/build/graphs/
/crud-php-simple-master/.phpdoc/build/indices/
/crud-php-simple-master/.phpdoc/build/js/
/crud-php-simple-master/.phpdoc/build/namespaces/
/crud-php-simple-master/.phpdoc/build/packages/
/crud-php-simple-master/.phpdoc/build/reports
